@import url(chillax.css);

* {
  font-family: "Chillax", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bkgr {
  height: 200px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  border-bottom: solid;
  border-width: 10px;
  border-color: #F99746;
  z-index: -1;
}

.imgCard {
  position: absolute;
  width: 21rem;
  height: 21rem;
  background-color: #F99746;
  border-radius: 20px;
  top: -150px;
  left: -100px;

  img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: cover;
    border-radius: 20px;

  }
}

.infoCard {
  position: relative;
  max-width: 60%;
  height: 100%;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 20px 20px 250px;
  border: solid;
  border-top: none;
  border-width: 10px;
  border-color: #F99746;
  background-color: #E9FAF5;
  z-index: 1;
}

.nameCard {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
}

.infoBox {
  font-size: 25px;
  background-color: #FFF;
  border-radius: 20px;
  padding: 20px;
}

.updateUserBtn {
  background-color: #0ca678;
  padding: 7px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.detailsBtn {
  position: absolute;
  bottom: 80px;
  right: -135px;
}

.btnDetails {
  text-align: start;
  width: 150px;
  margin: 20px 0;
  padding: 10px;
  font-weight: 600;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: none;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  transition: all 350ms ease;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.btnDetails:hover {
  transform: scale(1.1);
}


hr {
  display: none;
}

/* ======================================= responsiveness =================================== */

@media screen and (max-width: 1026px) {
  .infoCard {
    max-width: 60%;
    padding: 10px 10px 10px 215px;

    p {
      font-size: 16px;
    }
  }

  .imgCard {
    width: 14rem;
    height: 14rem;
    top: -50px;
    left: -50px;
  }

  .detailsBtn {
    bottom: 30px;
    right: -95px;
  }

  .btnDetails {
    width: 100px;
    padding: 8px;
  }

  .updateUserBtn {
    font-size: 17px;
  }

}

@media screen and (max-width: 768px) {
  .infoCard {
    max-width: 60%;
    padding: 10px 10px 10px 150px;

    p {
      font-size: 12px;
    }
  }

  .imgCard {
    width: 12rem;
    height: 12rem;
    top: -50px;
    left: -50px;
  }

  .detailsBtn {
    bottom: 30px;
    right: -85px;
    font-size: 12px;
  }

  .btnDetails {
    width: 90px;
    padding: 8px;
  }

  .updateUserBtn {
    font-size: 14px;
  }

}

@media screen and (max-width: 576px) {
  .bkgr {
    display: none;
  }

  .nameCard {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    background-color: #2ACC9B;
    color: #fff;
    border-radius: 20px;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
  }

  .infoCard {
    max-width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: #E9FAF5;
  }

  .imgCard {
    position: absolute;
    width: 8rem;
    height: 8rem;
    background-color: #F99746;
    border-radius: 5rem;
    border-width: 20px;
    margin: 0 auto;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
      padding: 6px;
      object-fit: cover;
      border-radius: 5rem;
    }
  }

  .infoBox {
    background-color: #2ACC9B;
    color: #fff;
    max-width: 90%;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 40px;

    p {
      margin: 0 0 10px 0;
    }
  }

  .detailsBtn {
    position: static;
    padding: 20px 0;
  }

  .btnDetails {
    width: 90%;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .updateUserBtn {
    width: 100%;
    font-size: 12px;
    background-color: #F99746 ;
  }

  hr {
    display: block;
    margin-top: 0;
  }
}