.nav-icon {
  width: 2rem;
}

.navbar {
  box-shadow: rgba(30, 30, 34, 0.089) 0px 4px 15px 0px;
  position: absolute;
  z-index: 200 !important;
}

.navbar-nav {
  font-size: 20px;
  font-weight: 500;
}
